PORT=7000

JWT_SECRET=

# Application Database
APP_DB_HOST=
APP_DB_PORT=5432
APP_DB_NAME=
APP_DB_USER=
APP_DB_PASSWORD=

# Core Banking Database
CORE_DB_HOST=
CORE_DB_PORT=5432
CORE_DB_NAME=
CORE_DB_USER=
CORE_DB_PASSWORD=

# Warehouse Database
WAREHOUSE_DB_HOST=
WAREHOUSE_DB_PORT=5432
WAREHOUSE_DB_NAME=
WAREHOUSE_DB_USER=
WAREHOUSE_DB_PASSWORD=