<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <system.webServer>

        <!-- IIS Reverse Proxy to Node.js Backend -->
        <rewrite>

            <rules>

                <rule name="EDRMS Node Backend Reverse Proxy"
                      stopProcessing="true">

                    <match url="^(.*)$" />

                    <action 
                        type="Rewrite"
                        url="http://localhost:7000/{R:1}"
                        appendQueryString="true" />

                </rule>

            </rules>

        </rewrite>


        <!-- Increase request size limit -->
        <security>

            <requestFiltering>

                <requestLimits 
                    maxAllowedContentLength="1073741824" />

            </requestFiltering>

        </security>


        <!-- Keep connection alive for API calls -->
        <httpProtocol>

            <customHeaders>

                <add 
                    name="X-Forwarded-Proto"
                    value="https" />

            </customHeaders>

        </httpProtocol>


    </system.webServer>

</configuration>